html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h3 {
  font-family: 'Oswald', sans-serif; }

.mainHeader .portfolio-block, .mainHeader .contact-block {
  text-transform: uppercase; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body::-webkit-scrollbar {
  display: none; }

body, html {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: black; }

body {
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 150px; }

h1 {
  font-weight: lighter;
  color: red; }

h3 {
  font-size: 1.5em;
  font-weight: lighter; }

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto; }

.portfolioWrapper {
  background-color: #EA7D52;
  height: 100vh; }

.full-width {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  background-color: purple !important;
  width: 100% !important;
  height: 100vh !important; }

.logo {
  height: 100px;
  margin: 25px; }

.full-width .portfolio-nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 10%; }

.mainHeader {
  display: flex;
  flex-wrap: wrap;
  height: 100vh; }
  .mainHeader .topLeft {
    height: 50%;
    width: 50%;
    background-image: url("../img/brooke-left.png");
    background-size: cover; }
  .mainHeader .topRight {
    background-color: #BCE784;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .mainHeader .topRight h1 {
      font-weight: lighter;
      color: black;
      padding: 0;
      margin: 0; }
      .mainHeader .topRight h1:first-child {
        font-size: 60px; }
      .mainHeader .topRight h1:nth-child(2) {
        letter-spacing: 2px;
        text-transform: uppercase; }
  .mainHeader .portfolio-block {
    background-color: #EA7D52;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms linear; }
    .mainHeader .portfolio-block h1 {
      letter-spacing: 2px;
      color: black; }
  .mainHeader .contact-block {
    background-color: black;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms linear; }
    .mainHeader .contact-block h1 {
      letter-spacing: 2px;
      color: white; }
    .mainHeader .contact-block:hover {
      transition: all 200ms linear;
      font-size: 1.5em; }

.portfolio-content {
  display: flex;
  border: 2px solid yellow;
  width: 80%; }
  .portfolio-content .row1, .portfolio-content .row2, .portfolio-content .row3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80vh; }
  .portfolio-content img {
    width: 50%;
    margin-bottom: 10px; }

.row1 {
  border: 2px solid pink; }
  .row1 .project1 {
    height: 25%;
    width: 100%;
    background-image: url("../img/songLab-square-thumb.png");
    background-size: cover; }

.footer {
  margin: 5% auto;
  color: white;
  text-align: center;
  letter-spacing: 1px; }
  .footer hr {
    width: 600px; }

.adminTile {
  border: 1px solid lightgrey;
  padding: 2% 5%; }
  .adminTile .adminButtons {
    margin-top: 20px; }

.projectTile .ember-view {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 2% 5%;
  margin-bottom: 3%;
  transition: all 300ms linear; }
  .projectTile .ember-view:hover {
    transition: all 300ms linear;
    background-color: mintcream; }

/*# sourceMappingURL=app.css.map */
