html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h3, .row1 .long-item:hover:before, .row1 .short-item:hover:before, .row2 .long-item:hover:before, .row2 .short-item:hover:before, .row3 .short-item:hover:before, .row3 .long-item:hover:before {
  font-family: 'Oswald', sans-serif; }

.mainHeader .portfolio-block, .mainHeader .contact-block {
  text-transform: uppercase; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body::-webkit-scrollbar {
  display: none; }

body, html {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: black; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black; }

img {
  max-width: 150px; }

h1 {
  font-weight: lighter; }

h3 {
  font-size: 1.5em;
  font-weight: lighter; }

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto; }

.portfolioWrapper {
  background-color: #EA7D52;
  height: 100vh;
  min-height: 100vh; }

.full-width {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  background-color: #EA7D52 !important;
  width: 100% !important;
  height: 100vh !important; }

.logo {
  height: 100px;
  margin: 25px; }

.full-width .portfolio-nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 3%;
  margin-bottom: 8%; }

.mainHeader {
  display: flex;
  flex-wrap: wrap;
  height: 100vh; }
  .mainHeader .topLeft {
    height: 50%;
    width: 50%;
    background-image: url("../img/brooke-left.png");
    background-size: cover; }
  .mainHeader .topRight {
    background-color: #BCE784;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .mainHeader .topRight h1 {
      font-weight: lighter;
      color: black;
      padding: 0;
      margin: 0; }
      .mainHeader .topRight h1:first-child {
        font-size: 60px; }
      .mainHeader .topRight h1:nth-child(2) {
        letter-spacing: 2px;
        text-transform: uppercase; }
  .mainHeader .portfolio-block {
    background-color: #EA7D52;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear; }
    .mainHeader .portfolio-block h1 {
      letter-spacing: 2px;
      color: black; }
  .mainHeader .contact-block {
    background-color: black;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainHeader .contact-block h1 {
      letter-spacing: 2px;
      color: white; }

.portfolio-content {
  display: flex;
  width: 90%; }
  .portfolio-content .row1, .portfolio-content .row2, .portfolio-content .row3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80vh;
    margin: 0px 10px; }
    .portfolio-content .row1 .short-item, .portfolio-content .row1 .long-item, .portfolio-content .row2 .short-item, .portfolio-content .row2 .long-item, .portfolio-content .row3 .short-item, .portfolio-content .row3 .long-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      color: white; }
    .portfolio-content .row1 .short-item, .portfolio-content .row2 .short-item, .portfolio-content .row3 .short-item {
      min-height: 300px; }
    .portfolio-content .row1 .long-item, .portfolio-content .row2 .long-item, .portfolio-content .row3 .long-item {
      min-height: 500px; }

.row1 .long-item {
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/songLab-long.png");
  position: relative;
  z-index: 100;
  height: 50%;
  width: 100%;
  background-image: url("../img/songLab-long.png");
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .row1 .long-item:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/songLab-long.png");
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: all 500ms; }
  .row1 .long-item:hover p {
    transition: all 500ms;
    display: block; }
  .row1 .long-item:hover:before {
    transition: all 500ms;
    opacity: 1;
    content: "view project";
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center; }
.row1 .short-item {
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fringe-short.png");
  position: relative;
  z-index: 100;
  height: 25%;
  width: 100%;
  background-image: url("../img/fringe-short.png");
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .row1 .short-item:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fringe-short.png");
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: all 500ms; }
  .row1 .short-item:hover p {
    transition: all 500ms;
    display: block; }
  .row1 .short-item:hover:before {
    transition: all 500ms;
    opacity: 1;
    content: "view project";
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center; }

.row2 .long-item {
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/movr-homepage.png");
  position: relative;
  z-index: 100;
  height: 50%;
  width: 100%;
  background-image: url("../img/movr-homepage.png");
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .row2 .long-item:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/movr-homepage.png");
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: all 500ms; }
  .row2 .long-item:hover p {
    transition: all 500ms;
    display: block; }
  .row2 .long-item:hover:before {
    transition: all 500ms;
    opacity: 1;
    content: "view project";
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center; }
  .row2 .long-item a .linkGridItem {
    height: 100px;
    width: 100px; }
.row2 .short-item {
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/scoop-app-black.png");
  position: relative;
  z-index: 100;
  height: 25%;
  width: 100%;
  background-image: url("../img/scoop-app-black.png");
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .row2 .short-item:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/scoop-app-black.png");
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: all 500ms; }
  .row2 .short-item:hover p {
    transition: all 500ms;
    display: block; }
  .row2 .short-item:hover:before {
    transition: all 500ms;
    opacity: 1;
    content: "view project";
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center; }
  .row2 .short-item a .linkGridItem {
    height: 100px;
    width: 100px; }

.row3 .short-item {
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/j-crew-thumb.png");
  position: relative;
  z-index: 100;
  height: 25%;
  width: 100%;
  background-image: url("../img/j-crew-thumb.png");
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .row3 .short-item:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/j-crew-thumb.png");
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: all 500ms; }
  .row3 .short-item:hover p {
    transition: all 500ms;
    display: block; }
  .row3 .short-item:hover:before {
    transition: all 500ms;
    opacity: 1;
    content: "view project";
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center; }
.row3 .long-item {
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/theMoon-long.png");
  position: relative;
  z-index: 100;
  height: 50%;
  width: 100%;
  background-image: url("../img/theMoon-long.png");
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .row3 .long-item:before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/theMoon-long.png");
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: all 500ms; }
  .row3 .long-item:hover p {
    transition: all 500ms;
    display: block; }
  .row3 .long-item:hover:before {
    transition: all 500ms;
    opacity: 1;
    content: "view project";
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center; }

.footer {
  margin: 5% auto;
  color: white;
  text-align: center;
  letter-spacing: 1px; }
  .footer hr {
    width: 600px; }

.adminTile {
  border: 1px solid lightgrey;
  padding: 2% 5%; }
  .adminTile .adminButtons {
    margin-top: 20px; }

.songLab-content, .scoop-content, .fringe-content {
  height: 100vh;
  width: 100%;
  color: white; }

/*# sourceMappingURL=app.css.map */
