%headerFont {
  font-family: 'Oswald', sans-serif;
}

%bodyFont {
  font-family: 'Open Sans', sans-serif;
}

%centeredText {
  text-align: center;
}

%uppercase {
  text-transform: uppercase;
}

%bg-cover {
  background-size: cover;
}
