// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin text($size:null, $weight:null, $l-height:null, $letter-spacing:null, $color:null) {
  font-size: $size;
  font-weight: $weight;
  line-height: $l-height;
  letter-spacing: $letter-spacing;
  color: $color;
}

@mixin flex ($display: flex, $justify: null, $align-items: null, $direction: null, $align-self: null) {
  display: $display;
  justify-content: $justify;
  align-items: $align-items;
  flex-direction: $direction;
  align-self: $align-self;
}

@mixin grid($color){
  background-color: $color;
  @include size(50% 50%);
}

@mixin mainNav($color) {
  font-size: 34px;
  @include text($color: $color, $letter-spacing: 2px);
}

@mixin gradient-animation( $start, $end, $transTime, $bg-image){
  background-position: center;
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($end, $start), url($bg-image);
    background-size: cover;
    background-position: center;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: all $transTime;
  }
  &:hover {
    cursor: pointer;
    p {
      transition: all $transTime;
      display: block;
    }
     &:before {
       transition: all $transTime;
       opacity: 1;
       content: "view project";
       @extend %headerFont;
       color: $white;
       @include text(2em, $weight: lighter, $letter-spacing: 1px);
       text-shadow: 1px 1px 1px grey;
       @include flex($justify: center, $align-items: center);
     }
  }
}
