// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$primary: #BCE784;
$secondary: #EA7D52;
$black: black;
$white: white;

// File Paths
$img: "../img";

// Media Queries
$tablet: '(max-width: 775px)';
$mobile: '(max-width: 620px)';
