// This file contains container styles, and any page wrapper styles.


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.full-width {
  @include flex($direction: column);
  justify-content: flex-start !important;
  background-color: $secondary !important;
  width: 100% !important;
  height: 100vh !important;
  min-height: 1000px !important;
  @media screen and #{$mobile} {
    height: 2550px !important;
  }
}

.about-section {
  color: purple;
  border: 2px solid black;
  padding: 5px 10px;
  cursor: pointer;
}

.about-full-width {
  transition: all 200ms linear;
  width: 100% !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  right: 0;
}
