// This file contains container styles, and any page wrapper styles.


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.portfolioWrapper {
  background-color: $secondary;
  height: 100vh;
}

.full-width {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  background-color: $secondary !important;
  width: 100% !important;
  height: 100vh !important;
}
