// This file contains styles for grids

.portfolio-content2 {
  @include flex($direction: column);
  width: 90%;
  margin-bottom: 25px;
  max-width: 1100px;
  .row1 {
    @include flex();
    @media screen and #{$mobile} {
      @include flex($direction: column);
    }
    .short-item {
      flex: 1;
      height: 300px;
      margin: 4px;
      background-size: cover;
      background-position: center;
      box-shadow: 1px 1px 1px rgba($black, 0.4);
      @media screen and #{$tablet} {
        height: 200px;
      }
      @media screen and #{$mobile} {
        height: 250px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    .fringe {
      background-image: url("#{$img}/fringe-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/fringe-thumbnail.png");
    }
    .moon {
      background-image: url("#{$img}/meal-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/meal-thumbnail.png");
    }
    .j-crew {
      background-image: url("#{$img}/jcrew-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/jcrew-thumbnail.png");
    }
  }
  .row2 {
    @include flex();
    @media screen and #{$mobile} {
      @include flex($direction: column);
    }
    .long-item {
      flex: 1;
      height: 500px;
      margin: 4px;
      background-size: cover;
      background-position: center;
      box-shadow: 1px 1px 1px rgba($black, 0.4);
      @media screen and #{$tablet} {
        height: 380px;
      }
      @media screen and #{$mobile} {
        height: 500px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    .songLab {
      background-image: url("#{$img}/songLab-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/songLab-thumbnail.png");
    }
    .movr {
      background-image: url("#{$img}/movr-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/movr-thumbnail.png");
    }
    .scoop {
      background-image: url("#{$img}/scoop-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/scoop-thumbnail.png");
    }
  }
}
