// This file contains styles for grids

.portfolio-content2 {
  @include flex($direction: column);
  width: 90%;
  margin-bottom: 25px;
  max-width: 1100px;
  .row1 {
    @include flex();
    .short-item {
      flex: 1;
      height: 300px;
      margin: 4px;
      background-size: cover;
      background-position: center;
      box-shadow: 1px 1px 1px rgba($black, 0.4);
    }
    .fringe {
      background-image: url("#{$img}/fringe-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/fringe-thumbnail.png");
    }
    .moon {
      background-image: url("#{$img}/meal-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/meal-thumbnail.png");
    }
    .j-crew {
      background-image: url("#{$img}/jcrew-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/jcrew-thumbnail.png");
    }
  }
  .row2 {
    @include flex();
    .long-item {
      flex: 1;
      height: 500px;
      margin: 4px;
      background-size: cover;
      background-position: center;
      box-shadow: 1px 1px 1px rgba($black, 0.4);
    }
    .songLab {
      background-image: url("#{$img}/songLab-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/songLab-thumbnail.png");
    }
    .movr {
      background-image: url("#{$img}/movr-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/movr-thumbnail.png");
    }
    .scoop {
      background-image: url("#{$img}/scoop-thumbnail.png");
      @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 300ms, "#{$img}/scoop-thumbnail.png");
    }
  }
}

// .portfolio-content2 {
//   border: 3px solid purple;
//   width: 1100px;
//   .row1, .row2 {
//     @include flex();
//     height: 100%;
//   }
// }
//
// .row1 {
//   border: 2px solid white;
//   .short-item {
//     border: 1px solid red;
//     @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 500ms, "#{$img}/fringe-short.png");
//     height: 25%;
//     width: 100%;
//     background-image: url("#{$img}/fringe-short.png");
//     background-size: cover;
//     box-shadow: 1px 1px 1px rgba($black, 0.5);
//   }
// }
//
// .row2 {
//   border: 2px solid lime;
//   .long-item {
//     @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 500ms, "#{$img}/movr-homepage.png");
//     height: 50%;
//     width: 100%;
//     background-image: url("#{$img}/movr-homepage.png");
//     background-size: cover;
//     box-shadow: 1px 1px 1px rgba($black, 0.5);
//     a {
//       .linkGridItem {
//         height: 100px;
//         width: 100px;
//       }
//     }
//   }
// }

// .portfolio-content {
//   @include flex();
//   width: 90%;
//   max-width: 1100px;
//   @media screen and #{$tablet}{
//     @include flex($direction: column);
//   }
//   .row1, .row2, .row3 {
//     @include flex($direction: column);
//     flex: 1;
//     height: 80vh;
//     margin: 0px 10px;
//     @media screen and #{$tablet}{
//       @include flex($direction: row);
//     }
//     .short-item, .long-item {
//       @include flex($justify: center, $align-items: center);
//       margin: 10px;
//       color: white;
//     }
//     .short-item {
//       min-height: 300px;
//       @media screen and #{$tablet}{
//           max-width: 300px;
//       }
//     }
//     .long-item {
//       min-height: 500px;
//       @media screen and #{$tablet}{
//           max-width: 300px;
//       }
//     }
//   }
// }
//
// .row1 {
//   .long-item {
//     @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 500ms, "#{$img}/songLab-long.png");
//     height: 50%;
//     width: 100%;
//     background-image: url("#{$img}/songLab-long.png");
//     background-size: cover;
//     box-shadow: 1px 1px 1px rgba($black, 0.5);
//   }
//   .short-item {
//     @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 500ms, "#{$img}/fringe-short.png");
//     height: 25%;
//     width: 100%;
//     background-image: url("#{$img}/fringe-short.png");
//     background-size: cover;
//     box-shadow: 1px 1px 1px rgba($black, 0.5);
//   }
// }
//
// .row2 {
//   .long-item {
//     @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 500ms, "#{$img}/movr-homepage.png");
//     height: 50%;
//     width: 100%;
//     background-image: url("#{$img}/movr-homepage.png");
//     background-size: cover;
//     box-shadow: 1px 1px 1px rgba($black, 0.5);
//     a {
//       .linkGridItem {
//         height: 100px;
//         width: 100px;
//       }
//     }
//   }
//   .short-item {
//     @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 500ms, "#{$img}/meal-home.png");
//     height: 25%;
//     width: 100%;
//     background-image: url("#{$img}/meal-home.png");
//     background-size: cover;
//     box-shadow: 1px 1px 1px rgba($black, 0.5);
//     a {
//       .linkGridItem {
//         height: 100px;
//         width: 100px;
//       }
//     }
//   }
// }
//
// .row3 {
//   .short-item {
//     @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 500ms, "#{$img}/j-crew-thumb.png");
//     height: 25%;
//     width: 100%;
//     background-image: url("#{$img}/j-crew-thumb.png");
//     background-size: cover;
//     box-shadow: 1px 1px 1px rgba($black, 0.5);
//   }
//   .long-item {
//     @include gradient-animation(rgba($black, 0.5), rgba($black, 0.5), 500ms, "#{$img}/scoop.png");
//     height: 50%;
//     width: 100%;
//     background-image: url("#{$img}/scoop.png");
//     background-size: cover;
//     box-shadow: 1px 1px 1px rgba($black, 0.5);
//   }
// }
