// All header styling for the site

.mainHeader {
  @include flex();
  flex-wrap: wrap;
  height: 100vh;
  .topLeft {
    @include size(50% 50%);
    background-image: url(("#{$img}/brooke-left.png"));
    background-size: cover;
    min-height: 360px;
  }
  .topRight {
    @include grid($primary);
    @include flex($direction: column, $justify: center, $align-items: center);
    min-height: 360px;
    h1 {
      @include text($weight: lighter, $color: $black);
      padding: 0;
      margin: 0;
      @media screen and #{$mobile}{
        text-align: center;
      }
      &:first-child{
        font-size: 60px;
        @media screen and #{$mobile}{
          font-size: 48px;
          line-height: 60px;
        }
      }
      &:nth-child(2){
        @include text($letter-spacing: 2px);
        text-transform: uppercase;
        @media screen and #{$mobile}{
          font-size: 28px;
          margin-top: 15px;
        }
      }
    }
  }
  .portfolio-block {
    min-height: 360px;
    @include grid($secondary);
    @include flex($justify: center, $align-items: center);
    @extend %uppercase;
    transition: all 300ms linear;
    .block-nav {
      border: 3px solid transparent;
      padding: 10px 20px;
    }
    &:hover {
      transition: all 300ms linear;
      .block-nav {
        transition: all 300ms linear;
        border: 3px solid black;
        padding: 10px 20px;
      }
    }
    h1 {
      @include text($color: $black, $letter-spacing: 2px);
    }
  }
}
