// All header styling for the site

.mainHeader {
  @include flex();
  flex-wrap: wrap;
  height: 100vh;
  .topLeft {
    @include size(50% 50%);
    background-image: url(("#{$img}/brooke-left.png"));
    background-size: cover;
    min-height: 360px;
  }
  .topRight {
    @include grid($primary);
    @include flex($direction: column, $justify: center, $align-items: center);
    min-height: 360px;
    h1 {
      @include text($weight: lighter, $color: $black);
      padding: 0;
      margin: 0;
      &:first-child{
        font-size: 60px;
      }
      &:nth-child(2){
        @include text($letter-spacing: 2px);
        text-transform: uppercase;
      }
    }
  }
  .portfolio-block {
    min-height: 360px;
    @include grid($secondary);
    @include flex($justify: center, $align-items: center);
    @extend %uppercase;
    transition: all 300ms linear;
    h1 {
      @include text($color: $black, $letter-spacing: 2px);
    }
  }
}
