// This files contains any navigation styles

.full-width {
  .portfolio-nav {
    @include flex($justify: space-between);
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.closing-X {
  cursor: pointer;
}

.about-section {
  @extend %headerFont;
  @extend %uppercase;
  @extend %centeredText;
  @include text(28px, $weight: lighter);
  border: 2px solid black;
  padding: 5px 10px;
  cursor: pointer;
  width: 50%;
  margin: 50px auto 0 auto;
}

.about-closing-X {
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 40px !important;
}

.block-nav {
  transition: all 200ms linear;
  cursor: pointer;
}
