// This files contains any navigation styles

.full-width {
  .portfolio-nav {
    @include flex($justify: space-between);
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    .navBlack {
    }
  }
}

.closing-X {
  cursor: pointer;
}

.block-nav {
  transition: all 200ms linear;
  cursor: pointer;
}
