.contact-block {
  min-height: 360px;
  cursor: pointer;
  @include grid($black);
  @include flex($direction: column, $justify: center, $align-items: center);
  @extend %uppercase;
  transition: all 300ms linear;
  .contact-nav {
    border: 3px solid transparent;
    padding: 10px 20px;
  }
  &:hover {
    transition: all 300ms linear;
    .contact-nav {
      transition: all 300ms linear;
      border: 3px solid white;
      padding: 10px 20px;
    }
  }
  h1 {
    @include text($color: $white, $letter-spacing: 2px);
  }
}

.contact-content {
  color: $white;
  @extend %bodyFont;
  text-transform: capitalize;
  width: 80%;
  hr {
    width: 70%;
  }
  .social-links {
    width: 90%;
    margin: 50px auto 0 auto;
    @include flex($justify: space-around);
    transition: all 200ms linear;
    @media screen and #{$mobile}{
      @include flex($direction: column, $align-items: center);
      margin: 0 auto;
    }
    a {
      img {
        @include size(100px);
        margin: 2%;
        transition: all 200ms linear;
        opacity: 0.8;
        @media screen and #{$mobile}{
          @include size(60px);
          margin: 1%;
        }
        &:hover {
          opacity: 1;
          transition: all 200ms linear;
        }
      }
    }
  }
}
