// This file contains global typography styles.

h1 {
  @extend %headerFont;
  @include text($color: red, $weight: lighter);
}

h3 {
  @extend %headerFont;
  @include text($size: 1.5em, $weight: lighter);
}
